[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
requests = "*"
selenium = "*"
beautifulsoup4 = "*"
lxml = "*"
pandas = "*"
numpy = "*"
ipython = "*"
matplotlib = "*"
seaborn = "*"
sqlalchemy = "*"
psycopg2-binary = "*"
black = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.13"
